<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./index.css" />
  <script src="https://kit.fontawesome.com/1636d5c31c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css" />
</head>

<body>
  <div>
    <div class="row editDeck_main_row">
      <!-- ZONA DE CARDS QUERY -->
    <div class="col-md-8 bg-dark">
      <div class="editDeck_home_icon">
      </div>
      <div class="editDeck_navBar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
          <a href="../myDecks/index.html">
            <i id="editDeck_back_btn" class="fas fa-arrow-alt-circle-left"></i>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <form class="form-inline my-2 my-lg-0">
              <input id="cardSearcher" list='autocomplete' class="form-control mr-sm-2" type="text" placeholder="Card Searcher">
              <datalist id="autocomplete">
              </datalist>
            </form>
            <ul class="navbar-nav mr-auto">
              <li>
                <button id="whiteFilterBtn">
                <img src="../../../assets/images/whiteManaColor.png" class="editDeck_mana_color_icon_filters" alt="">
              </button>
              </li>
              <li>
                <button id="blueFilterBtn">
                <img src="../../../assets/images/BlueManaColor.png"class="editDeck_mana_color_icon_filters" alt="">
                </button>
              </li>
              <li>
                <button id="blackFilterBtn">
                <img src="../../../assets/images/BlackManaColor.png" class="editDeck_mana_color_icon_filters"alt="">
                </button>
              </li>
              <li>
                <button id="redFilterBtn">
                <img src="../../../assets/images/RedManaColor.png" class="editDeck_mana_color_icon_filters"alt="">
                </button>
              </li>
              <li>
                <button id="greenFilterBtn">
                <img src="../../../assets/images/GreenManaColor.png"class="editDeck_mana_color_icon_filters" alt="">
                </button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="editDeck_cards_result_container">
        <div id="leftArrowContainer" class="hide-arrow">
          <i class="fas fa-arrow-left arrows"></i>
        </div>
        <div class="">
          <!-- CARD IMAGES RESULTS-->
          <div class="editDeck_cards_results" ondrop="drop(event)" ondragover="allowDrop(event)">
          </div>
        </div>
        <div id="rightArrowContainer" class="">
          <i class="fas fa-arrow-right arrows"></i>
        </div>
    </div>
    </div>
    <!-- FIN ZONA CARDS QUERY -->
    <!-- ZONA EDIT DECK -->
    <div class="col-md-4 bg-dark">
      <div class="form-group">
        <input type="text" id="deckTitle" class="form-control" placeholder="Deck Title">
      </div>     
       <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6 editDeck_deck_sideboard bg-dark">
              <span id="deckNumberCards">                
              </span>
            </div>
            <div class="col-md-6 editDeck_deck_sideboard bg-dark">
              <span id="deckSideBoardCards">                
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
              <div id="userDeckContent" class="editDeck_deck_item_card_list" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
        </div>
        <div class="card-footer">
          <h3 id="deckPrice"></h3>
        </div>
      </div>
    </div>
    <!-- FIN ZONA EDIT DECK -->
  </div>
  <div class="card text-white bg-dark">
  </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="./index.js"></script>
    <script src="./dragAndDrop.js"></script>
</body>

</html>
