.editDeck_main_row{
height: 802px;
width: 1455px;
}

.editDeck_mana_color_icon_filters {
  width: 40px;
  /* margin-right: 10px;
    margin-left: 10px; */
}

.editDeck_cards_results{
  margin-top: 30px;
  margin-left: 30px;
}
.editDeck_home_icon {
  display: flex;
}

#cardSearcher{
  margin-left: 10px;
  width: 300px;
}

.editDeck_card_found {
  width: 200px;
}

.mtgaCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.mtgaCard {
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
}

.editDeck_deck_sideboard {
  border-radius: 6px;
  text-align: center;
}

.fas{
  font-size: 50px;
}
.arrows{
  margin-top: 290px;
}

.editDeck_cards_result_container{
  display: flex;
  margin-left: 5px;
}
.hide-arrow{
  /* color: blue; */
  display: none;
}
.amount-icon{
  font-size: 24px;
}

#deckTitle{
  text-align: center;
  font-size: 30px;
}
.card-footer{
  text-align: center;
}

.user_card_content{
  background-color: lightgrey;
  padding-top: 5px;
  margin-bottom: 3px;
  border-radius: 3px;
}

